
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


	body{
		background-image: url("https://media.istockphoto.com/photos/round-podium-or-pedestal-with-blue-background-picture-id1226478932?b=1&k=20&m=1226478932&s=612x612&w=0&h=WDmaxt-cE8qYulS1XsGmUN87v0TRypTqDHmztWtltdI=");
		background-position: center;
		background-size: cover;
 		display: flex;
 		flex-wrap: wrap;
 		min-height: 90vh;
 		justify-content: center;
 		align-content: center;
 		font-family: 'Lato', sans-serif;
	}
	.main{
		width: 330px;
		border: 1px solid #000;
		padding: 30px;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
	}
	.header{
		text-align: center;
	}
	.header h2{
	   color: #000;
		font-size: 3rem;
		font-weight: bold;
	}
	.header p{
		font-size: 22px;
	}
	input{
		display: block;
		height: 30px;
		width: 100%;
		margin-top: 40px;
		border: none;
		background: transparent;
		border-bottom: 2px solid #000;
		font-size: 16px;
	}
	input:focus{
      outline: none;
	}
	input::placeholder{
		color: #000;
		font-size: 16px;
	}
	button{
		height: 40px;
		width: 200px;
		margin-top: 50px;
		border-radius: 30px;
		cursor: pointer;
		background-color: #3287fc;
		font-weight: bold;
		font-size: 16px;
		color: white;
		border:none;
		transition: all .5s ease-in-out; 
	}
	button:hover{
		background-color: #3287cc;
	}